html,body{
  margin:0px;
  font-family: 'Oswald', sans-serif;
}
a,a:visited{
  color:inherit !important;
  text-decoration: none;
}
.be-green{
  background-color: rgb(23,64,17);
}
.white {
  color: white;
}
.large-padding{
  padding: 15px 10px;
}
.no-bullet{
  list-style-type: none;
}
.no-margin{
  margin: 0px;
}
.field, .top-space, .actions{
  margin-top: 1em;
}
.text-left{
  text-align: left;
}
.form_control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;

}
.border{
  border-color: rgb(23,64,17);
}
.header{
  border-color:#E6DDDD;
  border-style: solid;
  border-radius: 1em;
  border-width: 0.1em;
  padding: 0.5em;
  background: #B1BFB2;
  word-wrap: break-word;
}
.contenido{
  word-wrap: break-word;
  height: auto;
  table-layout:fixed;
  width: 100%;
}
.sidebar2{
  background: black;
}
.footer{
  border-color:#f8f9fa;
  border-style: solid;
  border-width: 0.1em;
  padding: 0.5em;
  background: #e9ecef;
  word-wrap: break-word;
}
.strong-border{
  border: none;
  border-bottom: 1px solid;
  outline: none;
}
#logo{
  font-size: 1.2em;
}
