html,body{
  margin:0px;
  font-family: 'Oswald', sans-serif;
}
a,a:visited{
  color:inherit !important;
  text-decoration: none;
}
.be-green{
  background-color: rgb(23,64,17);
}
.white {
  color: white;
}
.large-padding{
  padding: 10px 5px;
}
.no-list{
  list-style-type: none;
}
.no-margin{
  margin: 0px;
}
#logo{
  font-size: 1.2em;
}
